@model List<MVCPro.Models.TouristAttraction>

@{
    if (MVCPro.Shared.global.checkIndex == false)
    {
        <script>
            window.alert("Can't delete the Tourist, there are users assigned to it");
        </script>

        MVCPro.Shared.global.checkIndex = true;
    }
    <head>
        <style>
            .container {
                margin: 0;
                padding: 0;
            }

            .mb-3 {
                margin-bottom: 0rem !important;
            }

            nav {
                margin-bottom: 0 !important;
            }

            main {
                padding: 0 !important;
            }

            .pb-3 {
                padding-bottom: 0rem !important;
            }

            body {
                margin: 0 !important;
            }

            header {
                filter: opacity(0.5);
            }

            main, .pb-3 {
                padding-bottom: 0 !important;
            }
            .pb-3, .py-3
            {
                padding: 0 !important;
            }
            nav {
                margin-bottom: 0 !important;
            }

            .mb-3 {
                margin-bottom: 0 !important;
            }

            footer {
                display: none !important;
            }

            header:hover {
                filter: opacity(1);
            }
        </style>
    </head>
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Trips</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   
    <div class="con">
        <div class="upper">
            <div class="headerTrip">
            <div class="staffTouristAdd">
                <a text-dark" asp-area="" asp-controller="Touristattraction" asp-action="add_Tourist_attraction">Add</a>
            </div>
            <h2>All Tourist Attraction</h2>
        </div>
            <p>
                <div class="forms">
            @using (Html.BeginForm("Index", "Touristattraction", FormMethod.Get))
            {
                <div class="search">
                <b>search by: </b>
                @Html.RadioButton("searchby", "Name", true) <text>Tourist attraction name</text>
                @Html.RadioButton("searchby", "City", false) <text>Tourist attraction city</text>
                @Html.TextBox("search", "", htmlAttributes: new { @class = "w-50 form-control" })
                </div>
                <input type="submit" value="search" class="btn btn-success searchButton" />
                @if (ViewBag.SearchPerformed)
                {
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-secondary", @id = "backButton" })
                }
            }
            </div>
        </p>
        </div>
        @if (!Model.Any())
        {
            <p>Not found!</p>
        }
        else
        {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>City</th>
                    <th colspan="2">Actions</th> <!-- Added column for actions -->
                </tr>
            </thead>
            <tbody>
                @foreach (var touristAttraction in Model)
                {
                    <tr>
                        <td>@touristAttraction.Id</td>
                        <td>@touristAttraction.Name</td>
                        <td>@touristAttraction.Description</td>
                        <td>@touristAttraction.City</td>
                        <td>
                                <a href="@Url.Action("delete_Tourist_attraction", new { id = touristAttraction.Id })" class="btn btn-danger buttonIndex">Delete</a>
                        </td>
                        <td>
                                <a href="@Url.Action("Update", new { id = touristAttraction.Id })" class="btn btn-danger buttonIndex">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</body>
</html>